BR2_aarch64=y
BR2_cortex_a76_a55=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_SUNSHINECAP_PATH)/board/friendlyelec/cm3588/patches"
BR2_DOWNLOAD_FORCE_CHECK_HASHES=y
BR2_INIT_SYSTEMD=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyFIQ0"
BR2_SYSTEM_DHCP="end0"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_SUNSHINECAP_PATH)/board/friendlyelec/cm3588/rootfs_overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_SUNSHINECAP_PATH)/board/friendlyelec/cm3588/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="-c $(BR2_EXTERNAL_SUNSHINECAP_PATH)/board/friendlyelec/cm3588/genimage.cfg"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/M1cha/kernel-rockchip"
# Branch: nanopi6-v6.1.y
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="d90bb722ad9c42d388b57def82a0e2799d0dd269"
BR2_LINUX_KERNEL_DEFCONFIG="nanopi6_linux"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="rockchip/rk3588-nanopi6-rev09"
BR2_LINUX_KERNEL_DTB_KEEP_DIRNAME=y
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_PACKAGE_PIPEWIRE=y
BR2_PACKAGE_WIREPLUMBER=y
BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_PACKAGE_LINUX_FIRMWARE_RTL_8169=y
BR2_PACKAGE_LINUX_FIRMWARE_ARM_MALI_CSF=y
BR2_PACKAGE_ROCKCHIP_RKBIN=y
BR2_PACKAGE_ROCKCHIP_RKBIN_TPL_FILENAME="bin/rk35/rk3588_ddr_lp4_2112MHz_lp5_2400MHz_v1.18.bin"
BR2_PACKAGE_ROCKCHIP_RKBIN_BL31_FILENAME="bin/rk35/rk3588_bl31_v1.48.elf"
BR2_PACKAGE_LUA=y
BR2_PACKAGE_ALSA_LIB=y
BR2_PACKAGE_X264=y
BR2_PACKAGE_X265=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_GROWPART=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="512M"
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_TARGET_ROOTFS_SQUASHFS4_NONE=y
BR2_TARGET_ARM_TRUSTED_FIRMWARE=y
BR2_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_VERSION=y
BR2_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_VERSION_VALUE="v2.12"
BR2_TARGET_ARM_TRUSTED_FIRMWARE_PLATFORM="rk3588"
BR2_TARGET_ARM_TRUSTED_FIRMWARE_IMAGES="bl31/bl31.elf"
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2026.01"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="cm3588-nas-rk3588"
BR2_TARGET_UBOOT_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_SUNSHINECAP_PATH)/board/friendlyelec/cm3588/u-boot.fragment"
BR2_TARGET_UBOOT_NEEDS_PYLIBFDT=y
BR2_TARGET_UBOOT_NEEDS_PYELFTOOLS=y
BR2_TARGET_UBOOT_NEEDS_OPENSSL=y
BR2_TARGET_UBOOT_NEEDS_GNUTLS=y
BR2_TARGET_UBOOT_NEEDS_UTIL_LINUX=y
BR2_TARGET_UBOOT_NEEDS_ROCKCHIP_RKBIN=y
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_SUNSHINECAP_PATH)/board/friendlyelec/cm3588/busybox.fragment"
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_DTC=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_PACKAGE_FFMPEG_SUNSHINE_GPL=y
BR2_PACKAGE_FFMPEG_SUNSHINE_VERSION3=y
# BR2_PACKAGE_FFMPEG_SUNSHINE_FFMPEG is not set
BR2_PACKAGE_FFMPEG_SUNSHINE_SWSCALE=y
BR2_PACKAGE_FFMPEG_SUNSHINE_ENCODERS="libx264 libx265 h264_rkmpp hevc_rkmpp"
BR2_PACKAGE_FFMPEG_SUNSHINE_DECODERS=""
BR2_PACKAGE_FFMPEG_SUNSHINE_MUXERS=""
BR2_PACKAGE_FFMPEG_SUNSHINE_DEMUXERS=""
BR2_PACKAGE_FFMPEG_SUNSHINE_PARSERS=""
BR2_PACKAGE_FFMPEG_SUNSHINE_PROTOCOLS=""
BR2_PACKAGE_FFMPEG_SUNSHINE_FILTERS=""
# BR2_PACKAGE_FFMPEG_SUNSHINE_INDEVS is not set
# BR2_PACKAGE_FFMPEG_SUNSHINE_OUTDEVS is not set
BR2_PACKAGE_FFMPEG_SUNSHINE_EXTRACONF="--enable-static --disable-shared --enable-avutil --enable-bsfs"
BR2_PACKAGE_FFMPEG_SUNSHINE_RKMPP=y
BR2_PACKAGE_SUNSHINE=y
BR2_PACKAGE_V4L_UTILS=y
BR2_OPTIMIZE_3=y
